
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
    background-color:#080d30;
    border-top: 1px solid #ffffff;
    height: 25px;
    width: 70%;
  }
  
  .arrow-button {
    font-size: 20px;
    font-weight: bold;
    color : #fff;
    border: none;
    background-color: transparent;
    padding: 10px !important;
    cursor: pointer;
    outline: none;
  }
  
  .color-container {
    display: flex;
    transition: transfo 0.3s ease-in-out; 
  }
  
  .material{
    color: #fff;
    margin: auto;
  }

  .color-circle.selected {
    border-color: white; /* Add this line to set the border color for selected circles */
  }

  .color-circle:hover {
    cursor: pointer;
  }
  
  .selected-color {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 3px;
    color: #fff;
    border-radius: 4px;
    background-color: rgba(194, 188, 188, 0.24);
  }
  
  .slider-color{
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  