.slick-slide {

    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    margin-right: 20px;
    transform: translate(30%, 30%);
}

.slick-slide-selected {
    box-shadow: inset 0 0 5px #ffffff;
    width: 20px !important;
    height: 20px !important;
    background-color: rgba(220, 220, 225, 0.3);
    border-radius: 10%;
    align-self: center !important;
    transform: translate(0%, 25%);

}

.slick-slider .slick-track,
.slick-slider .slick-list {
    min-height: 40px !important;
    display: flex !important;

}

.slick-slide:hover {
    cursor: pointer;
}

.slick-slide.selected {
    border-color: white !important;
}


.slider-color-title {
    color: #fff;
    margin-bottom: 4px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}